@import '_cursor.scss';

.demo {
  background: orange;

  .demo-content {
    height: 98vh;
    display: grid;
    place-items: center;

    .demo-item {
      width: 10em;
      aspect-ratio: 1;
      background: #fff;
      border-radius: 1em;
    }
  }
}
