doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Attractive cursors
    link(rel="stylesheet" href="../styles/main.scss")
    script(src='../scripts/index.js' type="module" defer)
  body
    include ../views/_github-ribbon.pug
    aside
      a(href="./tutorial.pug") Step-by-step Tutorial here!
    .demo
      .demo-titles
        h1 Attractive cursors
        .demo-subtitles
          h2 Structure
          h2 Result
      .demo-content
        .demo-wrapper
          .cursor-stick-area.demo-item(data-cursor="-exclusion,-large")
            p Sticky case
          .transitioner ⇨
          .cursor-stick-area.demo-item(data-cursor="-exclusion,-large")
            button Click!
        .demo-wrapper
          .cursor-stick-area.cursor-magnetic-area.demo-item(data-cursor="-exclusion,-large")
            p +
              br
              | Magnetic case
          .transitioner ⇨
          .cursor-stick-area.cursor-magnetic-area.demo-item(data-cursor="-exclusion,-large")
            button Click!
        .demo-wrapper
          .cursor-stick-area.cursor-magnetic-area.cursor-autoscale-area.demo-item(data-cursor="-exclusion")
            .autoscale-inner-wrapper
              p +
                br
                | Autoscaled case
                br
                i (On unique child)
          .transitioner ⇨
          .cursor-stick-area.cursor-magnetic-area.cursor-autoscale-area.demo-item(data-cursor="-exclusion")
            button.autoscale-example LITTLE
