doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Attractive cursors - Tutorial
    link(rel="stylesheet" href="../styles/tutorial.scss")
    script(src='../scripts/index.js' type="module" defer)
  body
    h1 Step-by-step tutorial
    p WIP - to be at the moment where all is OK
    main
      section
        h2 Structure
        .substructure
          .item
            .content
          .explanation
            p In red dotted : our dedicated area
            p In green solid : the target element (If multiple elements are targeted, the behavior is applied to the first one. So put multiple elements in ONE dedicated parent).
      section
        h2 Apply a dedicated behavior type
        .substructure
          .item
            .content
          .explanation
            p In red dotted : our dedicated area
            p In green solid : the target element
