doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Attractive cursors - Tutorial
    link(rel="stylesheet" href="../styles/tutorial.scss")
    script(src='../scripts/index.js' type="module" defer)
  body
    include ../views/_github-ribbon.pug
    aside
      a(href="./index.pug") Playground here!
    h1 Step-by-step tutorial (POST-Install)
    section
      h2 Instanciate our cursor
      p To enable cursor effect you need to import it from the library.
      code import { Cursor } from 'attractive-cursor'
      p Then you can use it in your code.
      code const cursor = new Cursor()
      p Now you can follow the following instructions to understand how it works.
    main
      section
        h2 Structure
        .substructure
          .item
            .content
          .explanation
            p In red dotted : our dedicated area.
            p In green solid : the target element.
            i (If multiple elements are targeted, the behavior is applied to the first one. So put multiple elements in ONE dedicated parent).
      section
        h2 Apply a dedicated behavior type
        .substructure
          .cursor-stick-area.item
            .content
          .explanation
            p We want to apply a stick effect on child when hovering the dark area.
            p So we add the class
              code cursor-stick-area
              | to the dark parent of the targeted element (the light one).
            p Now if you move your mouse in the dark area, the cursor will stick on light area.
      section
        h2 Add effect on cursor when hovering element
        .substructure
          .cursor-stick-area.item(data-cursor="-exclusion,-large")
            .content
          .explanation
            p Now we want to add a large effect on the cursor when hovering the targeted element.
            p So we add
              code data-cursor='-large'
              | attribute to the targeted element.
            p Now if you move your mouse in the dark area, the cursor will stick on light area and will have a large effect.
            i You can also add
              code -exclusion
              | to the attribute to add a exclusion blending effect. (To add it, separate the values with a comma and WHITHOUT a space).
      section
        h2 Add a Magnetic effect to target
        .substructure
          .cursor-magnetic-area.item
            .content
          .explanation
            p Now we want to add a magnetic effect to the targeted element.
            p So we add the class
              code cursor-magnetic-area
              | to the targeted element.
            p Then we write a loop to target each wanted element :
            code
              | document.querySelectorAll('.cursor-magnetic-area').forEach(el => {
              br
              | &nbsp;&nbsp;const magnetic = new Magnetic(el)
              br
              | })
            p Now if you move your mouse in the dark area, the cursor will have a magnetic effect and will follow the mouse.
            i (Don't forget to check
              a(href="https://github.com/pierredarrieutort/attractive-cursors" target="_blank") the library source code
              | to see how it works deeper).
