doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Magnetic Cursor
    link(rel="stylesheet" href="styles/main.scss")
    script(src='scripts/index.js' type="module" defer)
  body
    .demo
      .demo-titles
        h1 Attractive cursors
        .demo-subtitles
          h2 Structure
          h2 Result
      .demo-content
        .demo-wrapper
          .cursor-stick-area.demo-item(data-cursor="-exclusion,-large")
            p Sticky case
          .transitioner ⇨
          .cursor-stick-area.demo-item(data-cursor="-exclusion,-large")
            button Click!
        .demo-wrapper
          .cursor-stick-area.cursor-magnetic-area.demo-item(data-cursor="-exclusion,-large")
            p Magnetic case
          .transitioner ⇨
          .cursor-stick-area.cursor-magnetic-area.demo-item(data-cursor="-exclusion,-large")
            button Click!
        .demo-wrapper
          .cursor-autoscale-area.demo-item(data-cursor="-exclusion")
            .autoscale-inner-wrapper
              p Autocaled case
                br
                i (On unique child)
          .transitioner ⇨
          .cursor-autoscale-area.demo-item(data-cursor="-exclusion")
            button Click!
